.card-list{
    max-width: 1440px;
    width: 100%;
    background-color: #f5f6f7;
    display: flex;
    flex-direction: column;
}

.card-list__title{
    max-width: 712px;
    width: 100%;
    font-family: roboto-slab;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #1a1b22;
    text-align: center;
    margin: 85px 0 70px -55px;
}

.card-list__cards{
    padding: 0 10px;
}

.card-list__button:hover{
    background-color: #e8e8e8;
}

.card-list__button{
    max-width: 288px;
    width: 100%;
    border-radius: 80px;
    background-color: #fff;
    border: unset;
    margin: 80px auto;
}

.card-list__button_loggedIn{
    max-width: 288px;
    width: 100%;
    border-radius: 80px;
    background-color: #fff;
    border: unset;
    margin: 30px auto;
}

.card-list__button_text{
    font-family: roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1a1b22;
    padding: 20px 0;
}


@media (min-width: 320px) and (max-width: 600px) {
  .card-list__title {
        font-size: 30px;
        line-height: 34px;
        margin: 45px 0 40px;
    }

    .card-list__button{
        margin: 45px auto;
    }
}
