.search {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../images/georgia-de-lotz-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.search__container {
    max-width: 702px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px 0 80px;
}

.search__description {
    max-width: 702px;
    width: 100%;
}

.search__title {
    max-width: 702px;
    font-family: roboto-slab;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    color: #fff;
}

.search__subheading {
    max-width: 608px;
    font-family: roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    padding: 0 10px 55px;
}

.search__form {
    max-width: 608px;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #d1d2d6;
    border-radius: 100px;
    background-color: #fff;
    border: unset;
}

.search__input {
    max-width: 376px;
    width: 100%;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1a1b22;
    border: none;
    border-radius: 100px;
    padding-left: 15px;
    margin-right: auto;
}

.search__button:hover{
    background-color: #347EFF;
}

.search__button:focus{
    background-color: #2A65CC;
}

.search__button {
    max-width: 168px;
    width: 100%;
    border-radius: 100px;
    background-color: #2F71E5;
    border: none;
}

.search__button_text {
    font-family: roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    padding: 20px 40px;
}

.error-message{
    color: red;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .search__container {
       max-width: 452px;
       padding: 40px 0 75px;
    }

    .search__description {
        max-width: 452px;
    }

    .search__title {
        max-width: 452px;
        font-size: 36px;
        line-height: 40px;
    }

    .search__subheading {
        max-width: 452px;
        padding: 0 0 45px;
    }

    .search__form {
        max-width: 452px;
    }

    .search__button_text {
        padding: 20px 40px;
    }
}

@media (min-width: 545px) and (max-width: 767px) {
    .search__container {
       max-width: 452px;
       padding: 40px 0 75px;
    }

    .search__description {
        max-width: 452px;
    }

    .search__title {
        max-width: 452px;
        font-size: 36px;
        line-height: 40px;
    }

    .search__subheading {
        max-width: 452px;
        padding: 0 0 45px;
    }

    .search__form {
        max-width: 452px;
    }

    .search__button_text {
        padding: 20px 40px;
    }
}

@media (min-width: 320px) and (max-width: 544px) {
    .search {
        width: 100%;
        background-position: center;
    }

    .search__container {
        align-items: center;
        row-gap: 20px;
        padding: 40px 0px;
    }

    .search__form{
        display: contents;
    }

    .search__input{
        max-width: 180px;
        padding: 18px 60px 18px 18px;
        margin-right: 0;
    }

    .search__description {
        max-width: 288px;
        padding: 0;
    }

    .search__title {
        margin: 0;
        font-size: 36px;
        line-height: 40px;
    }

    .search__subheading {
       padding: 0;
    }

    .search__button {
        max-width: 260px;
    }

    .search__button_text {
        padding: 18px 95px;
    }
}